@model AnimalType

<form method="post">
    <!-- <input asp-for="Id" hidden/> -->
    <div class="container">
        <div class="row text-center mt-3"><h3>Edit Type</h3></div><hr />
        <div class="row col-md-3 mx-auto my-3 mt-4">
            <label asp-for="Name" class="pb-1"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="row col-md-3 mx-auto my-3">
            <button type="submit" class="btn btn-primary text-white">Edit Type</button>
        </div>
        <div class="row col-md-3 mx-auto m-4">
            <a asp-controller="AnimalType" asp-action="Index" class="btn btn-danger text-white">Show Animal Types</a>
        </div>
    </div>
</form>

