@using HayvanBarinagi.Utility;
@model Animal

<form method="post" enctype="multipart/form-data">
    @*enctype="multipart/form-data" Filedan resim eklerken hata alırız eklemezsek*@
    <input asp-for="ImageURL" hidden /> @*Resim url null gitmemesi için. file name aldık çünkü biz*@

    
    <div class="table">
        <div class="row text-center">
            <h3 class="py-2">@(Model == null ? "Add New Animal" : "Edit Animal")</h3>
            <hr />
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-10 m-2">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class=""></span>
            </div>
            <div class="col-md-3 col-sm-10 m-2">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class=""></span>
            </div>
            <div class="col-md-3 col-sm-10 m-2">
                <label asp-for="AnimalTypeId"></label>
                <select asp-for="AnimalTypeId" asp-items="ViewBag.AnimalTypeList" class="form-select"></select>
            </div>
        </div>
        <div class="row mx-auto mx-2 my-3 col-10">
            <label asp-for="Features"></label>
            <input asp-for="Features" class="form-control" />
            <span asp-validation-for="Features" class=""></span>
        </div>
        <div class="" hidden>
            <label asp-for="Recipient" class=""></label>
            <input asp-for="Recipient" class="form-control" value="NULL" />
            <span asp-validation-for="Recipient" class=""></span>
        </div>
        <div class="row justify-content-center">

            <div class="row mx-2 my-3 col-1">
                @if (Model != null)
                {
                    <img src="@Model.ImageURL" max-width="100px" />
                }
            </div>
            <div class=" row col-md-3 col-sm-8 mx-2 my-3">
                <label asp-for="ImageURL"></label>
                <input type="file" name="file" class="form-control" />
            </div>
        </div>
        
        <div class="row col-6 mx-auto">

            @if (User.IsInRole(UserRoles.Role_Admin))
            {
                @if (Model != null)
                {
                    <button type="submit" class="btn btn-primary text-white m-2">Update Animal</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary text-white m-2">Add Animal</button>

                }
            }
        </div>
        <div class="row col-6 mx-auto">
            <a asp-controller="Animal" asp-action="Index" class="btn btn-danger text-white m-2">Show Animals</a>
        </div>

    </div>
</form>

