@model Animal

<form method="post">
    <!-- <input asp-for="Id" hidden/> -->
    <div class="">
        <div class="">
            <h2 class="">Delete Animal</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name" class=""></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Age" class=""></label>
            <input asp-for="Age" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="AnimalTypeId" class=""></label>
            <input asp-for="AnimalTypeId" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Features" class=""></label>
            <input asp-for="Features" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="ImageURL" class=""></label>
            <input asp-for="ImageURL" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Delete Animal</button>
        <a asp-controller="Animal" asp-action="Index" class="btn">Show Animals</a>
    </div>
</form>

